{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="page-header clear-filter page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image:url({{ asset('assets/img/bg7.jpg') }});">
            </div>
            <div class="container">
                {% if user is defined and user is not empty %}
                <div class="photo-container">
                    <img src="{{ asset(user.avatar) }}" alt="{{ user.name }}">
                </div>
                <h3 class="title">{{ user.name }}</h3>
                <p class="category">{{ user.username }}</p>
                {% endif %}
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h3 class="title">Timeline</h3>
                <div class="card">
                </div>

                {% for post in posts %}
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-1">
                            <a href="#"><img src="{{ asset(post.author.avatar) }}" alt="{{ post.author.fullName }}" class="card-img"></a>
                        </div>
                        <div class="col-md-11">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.createdAt | date('d/m/Y H:i') }}</small></p>
                                <a href="#" class="card-link"><i class="far fa-heart"></i> Like</a>
                                <a href="#" class="card-link"><i class="fas fa-heart"></i> Dislike</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>No posts found.</p>
                {% endfor %}

                <nav>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}